<h1><%= @project.title %></h1>
<form class="" action="/projects/<%= @project.id %>/edit" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="title" class="form-control" placeholder="Project New Title">
  <button type="submit" class="btn">Update Project Name</button>
</form>


<form class="" action="/projects/<%= @project.id %>/edit" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn">Delete Project</button>
</form>

<form class="" action="/projects/<%= @project.id %>/volunteer" method="post">
  <label for="name">Add your name to volunteer for project:</label>
  <input type="text" name="name" class="form-control">
  <button type="submit" class="btn">Volunteer</button>
</form>
