<h1>Edit Project: <%= @project.title %> </h1>
<form class="" action="/projects/<%= @project.id %>/edit" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="title" class="form-control" placeholder="Project New Title">
  <button type="submit" class="btn">Update Project</button>
</form>


<form class="" action="/projects/<%= @project.id %>/edit" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn">Delete Project</button>
</form>
