<h1>Create a project:</h1>

<form class="" action="projects" method="post">
  <div class="form_group">
    <input type="text" name="title" class="form-control" placeholder="Project title here">
  </div>
  <button type="submit" class="btn">Create Project</button>
</form>
