<h1>Create a project:</h1>

<form class="" action="projects" method="post">
  <div class="form_group">
    <input type="text" name="title" class="form-control" placeholder="Project title here">
  </div>
  <button type="submit" class="btn">Create Project</button>
</form>

<% if @projects.any? %>
  <% @projects.each do |project| %>
    <ul>
      <li><a href="/projects/<%= project.id %>"> <%= project.title %> </a></li>
    </ul>
  <% end %>
<% else %>
  <h3>There are currently no projects.</h3>
<% end %>
