<h1><%= @volunteer.name %> is working on <%= @project.title %> project</h1>

<form class="" action="/volunteers/<%= @volunteer.id %>/edit" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="name" class="form-control" placeholder="New Volunteer Name">
  <button type="submit" class="btn">Update Volunteer</button>
</form>
<a href="/"><button type="button" class="btn">Home</button></a>
